/* selektor{
    parametr: hodnota;
} */

body{
    /* color: rgba(red, green, blue, alpha);  */
    color: blueviolet;
    /* základní font-size je 16px a nemělo by se přepisovat pro celý dokument */
    font-family: 'Roboto', sans-serif;

}

h1{
    color: #ff0000;
    background-color: rgba(255, 81, 0, 0.212);
    font-size: 4rem;
    /* rem = text h1 bude 4x větší než základní text, tedy než defaultních 16px */
    font-family: 'Amatic SC', cursive;
}

span{

    background-color: aqua;
    color: rgb(27, 43, 3);
}
